@font-face {
  font-family: 'FZY3JW';
  src: url('../fonts/FZY3JW.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFangSC';
  src: url('../fonts/PingFangSC.ttf');
  font-weight: normal;
  font-style: normal;
}